<% include ./partials/header %>

    <section id="main">
        <div class="container">
            <div class="row">

                <div class="col-md-3">
                    <% include ./partials/stats %>
                </div>
                <!-- end of col-md-3 SIDEBAR -->

                <div class="col-md-9">
                    
                    <!--Add Post section-->
                    
                    <form action = '/' method = 'POST'>
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input class = "form-control" type = "text" name = "title" placeholder = "Insert title here..." required></input>
                        </div>
                        <div class="form-group">
                            <label for="content">Main Image</label>
                            <input class = "form-control" type = "text" name = "image" placeholder = "Insert image url here..." required></input>
                        </div>
                        <div class="form-group">
                            <label for="content">Content</label>
                            <textarea name="content" class="form-control" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="content">Categories</label>
                            <textarea name = "category" class = "form-control" placeholder = "Insert categories here, one on each line..." required></textarea>
                        </div>

                        <div class="form-group">
                            <button class = "btn btn-lg btn-primary">Publish Post</button>
                        </div>
                        
                    </form>
                    
                    <!--End of Add Post section-->
                    
                </div>

            </div>
            <!-- end of row -->
        </div>
        <!-- end of main container -->
    </section>
    <!-- end of #main section -->
    
    <script>
       CKEDITOR.replace( 'content' );
    </script>

    <% include ./partials/footer %>
