<% include ./partials/postheader %>

    <section id="main">

        <div class="container-fluid">

            <div class="row">

                <!--Single Post-->
                <section id="singlePost" class="col-md-9 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1" id = "breadcrumb">

                            <!--Breadcrumb-->
                            
                                <div class="row">
                                    <ol class="breadcrumb">
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Windows</a></li>
                                        <li class="active">How to change calendar data</li>
                                    </ol>
                                </div>

                            <!--End of breadcrumb-->

                        </div>
                    </div>
                    
                    <div class="row">
                        <div class = "col-md-10 col-md-offset-1" id="post">
                            <h1>How to change calendar data</h1>
                            <p class="lead" id = "postInfo">
                                <i class="fa fa-user"></i>
                                Posted by <span id = "author">Bogdan Gersak</span>
                                <span class = "pull-right"><i class="fa fa-calendar"></i> August 24, 2017</span>
                            </p>
                            
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima suscipit, exercitationem dicta. Fugit facere quia molestiae autem ipsam laborum natus ullam adipisci eligendi commodi, aperiam alias in laudantium voluptas reiciendis provident, quasi reprehenderit atque neque eos a culpa, minus beatae necessitatibus. Impedit cupiditate facilis cumque ipsam numquam dolore error itaque officia quae, hic at rem quas veniam quasi nemo commodi, beatae consectetur minima, possimus quo provident. A quam ad pariatur accusantium enim laborum sapiente! Sit debitis consectetur ducimus, quisquam dolor nulla? Rerum, quis totam reiciendis animi ullam numquam sunt. Eum blanditiis assumenda fugit ipsam provident perferendis necessitatibus magni porro non!</p>
                            <h2>Subtitle 1</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus at, assumenda nesciunt quam omnis consequatur blanditiis explicabo iusto itaque quasi repellendus, suscipit sit repudiandae soluta! Optio error unde veritatis a distinctio cumque maiores ut ipsum magnam est, eaque quisquam incidunt corporis! Dolorem saepe illum enim repellendus consectetur doloribus ipsum provident!</p>
                            <blockquote>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                              <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                            </blockquote>
                            <h2>Subtitle 2</h2>
                            <iframe width="854" height="480" src="https://www.youtube.com/embed/OnBkYcb3OBM" frameborder="0" allowfullscreen></iframe>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima suscipit, exercitationem dicta. Fugit facere quia molestiae autem ipsam laborum natus ullam adipisci eligendi commodi, aperiam alias in laudantium voluptas reiciendis provident, quasi reprehenderit atque neque eos a culpa, minus beatae necessitatibus. Impedit cupiditate facilis cumque ipsam numquam dolore error itaque officia quae, hic at rem quas veniam quasi nemo commodi, beatae consectetur minima, possimus quo provident. A quam ad pariatur accusantium enim laborum sapiente! Sit debitis consectetur ducimus, quisquam dolor nulla? Rerum, quis totam reiciendis animi ullam numquam sunt. Eum blanditiis assumenda fugit ipsam provident perferendis necessitatibus magni porro non!</p>
                            <p><i class="fa fa-tags"></i> Tags: <a href=""><span class="badge badge-info">Windows 7</span></a> <a href=""><span class="badge badge-info">Windows XP</span></a> <a href=""><span class="badge badge-info">Tutorial</span></a> <a href=""><span class="badge badge-info">Operating Systems</span></a></p>
                        </div>    
                    </div>
                    
                </section>
                
                <!--End of single post-->

                <section id="sidebar" class="col-md-3 col-sm-12 col-xs-12">

                </section>

            </div>

        </div>


    </section>

    <% include ./partials/footer %>
