<% include ./partials/header %>

    <h1>Welcome to the Blog</h1>
    
    <ul class = "list-group">
        <% posts.forEach(function(post) { %>
            <li class = "list-group-item">
                <a href = "/post/<%= post._id %>">
                    <%= post.title %> 
                </a>
            </li>
        <% }); %>
    </ul>
    
<% include ./partials/footer %>