body {
    background: #f4f4f4;
    height: 100%;
    margin-bottom: 70px;
}

.btn {
    box-shadow: 1px 2px 5px #000000;
}

.btn:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
}

.navbar a:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
}

/*NAVBAR*/

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-default {
    background-color: #b42406;
    border-color: #0a010d;
}

.navbar-default .navbar-brand {
    color: #ecf0f1;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #b1acac;
}

.navbar-default .navbar-text {
    color: #ecf0f1;
}

.navbar-default .navbar-nav>li>a {
    color: #ecf0f1;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #b1acac;
}

.navbar-default .navbar-nav>li>.dropdown-menu {
    background-color: #b42406;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>a {
    color: #ecf0f1;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>a:hover,
.navbar-default .navbar-nav>li>.dropdown-menu>li>a:focus {
    color: #b1acac;
    background-color: #0a010d;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li.divider {
    background-color: #0a010d;
}

.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
    color: #b1acac;
    background-color: #0a010d;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #b1acac;
    background-color: #0a010d;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #b1acac;
    background-color: #0a010d;
}

.navbar-default .navbar-toggle {
    border-color: #0a010d;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #0a010d;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}

.navbar-default .navbar-link {
    color: #ecf0f1;
}

.navbar-default .navbar-link:hover {
    color: #b1acac;
}

/*CUSTOM*/

.main-color-bg {
    background-color: #b42406 !important;
    border-color: #0a010d !important;
    color: #ffffff !important;
}

/*POSTS TABLE*/

.actions {
    display: flex;
}

#filtericon {
    cursor: pointer;
}



/*NEW POST*/

.newPostButton {
    display: inline-block;
    margin-right: 20px;
}

#filtericon+.tooltip>.tooltip-inner {
    border-color: #0a010d;
    color: #ffffff;
    padding: 3px;
    font-size: 13px;
}

/*HEADER*/

#header {
    background: #333333;
    color: #ffffff;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

#header .create {
    padding-top: 20px;
}

/*MAIN*/

.stats-well {
    text-align: center;
    background-color: #337ab7;
    color: #fff;
}

.btn-sm {
    margin-right: 10px;
}

#searchinput {
    margin-bottom: 25px;
    display: none;
}

#loginForm {
    margin-bottom: 50px;
    margin-top: 20px;
}

/* FOOTER */

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #333333;
    color: #ffffff;
    height: 50px;
    padding: 20px;
    margin-top: 10px;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #b1acac;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #b1acac;
        background-color: #0a010d;
    }
}
