<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"></link>
    <link rel = "stylesheet" href = "/bower_components/font-awesome/css/font-awesome.css"></link>
    <link rel="stylesheet" href="/css/festyle.css"></link>

    <title>
        <%= post.title %>
    </title>
</head>

<body>

    <header class="v-header parallax" id = "postheader" style = "background-image: url(<%= post.image %>)">
        
        <a id = "logo" href = "/">
            <img src="/img/logo.png" alt = "Post Image"></img>
        </a>
        
        <span class = "glyphicon glyphicon-menu-hamburger" onclick="openNav()"></span>
        
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><span class="glyphicon glyphicon-remove"></span></a>
          <a href="#">Home</a>
          <a href="#">About</a>
          <a href="#">Categories</a>
          <a href="#">Contact</a>
        </div>
        
        <div class="header-content">
            <div class="row">
                <div class="col-md-12">
                    <h1> <%= post.title %></h1>
                </div>
            </div>
        </div>
        
    </header>    