        
        <footer id="footer">
                <p>Copyright Daniel Stoica &copy; 2017</p>
        </footer>
        
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src = "/js/main.js"></script>
    </body>

</html>
